@import 'bootstrap';
@import '../../node_modules/ng-grid/ng-grid.min.css';

body {
    padding-top: 40px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar {
    min-height: 0px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 30px;
    height: 30px;
    padding-top: 0;
}